body {
    background-color: #F0F0F0;
    inset: 0;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

#heading { 
    transition: all 0.25s ease;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 48px;
    left: 48px;
    font-size: 100px;
    height: fit-content;
    width: fit-content;
    font-family: "Plus Jakarta Sans", sans-serif;
    user-select: none;
    pointer-events: none;
    color: #ffffff;
    z-index: 3;
}

#github {
    left: 48px;
    bottom: 48px;
}

#codepen {
    left: 158px;
    bottom: 48px;
}

#codepen,
#github {
    position: fixed;
    height: 88px;
    width: 88px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #000000;
}

#codepen svg,
#github svg {
    color: inherit;
    height: 88px;
    width: 88px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    outline: none;
    user-select: none;
    pointer-events: none;
}